<nav class="navbar navbar-expand-md border-bottom bg-body-tertiary sticky-top navbar-custom">
  <div class="container-fluid">
    <style>
      /* Navbar custom sizing and spacing */
      .navbar-custom {
        padding-top: 12px;
        padding-bottom: 12px;
      }
      .navbar-custom .navbar-brand img {
        height: 48px;
        width: auto;
        object-fit: cover;
        border-radius: 6px;
      }
      .navbar-custom .navbar-nav .nav-link {
        padding: 0.6rem 1rem; /* increased clickable area */
        margin-right: 0.4rem;
        font-weight: 600;
      }
      /* Add extra spacing for right-side links */
      .navbar-custom .navbar-nav.ms-auto .nav-link {
        margin-left: 0.6rem;
      }
      /* On very small screens, slightly reduce padding to fit */
      @media (max-width: 575.98px) {
        .navbar-custom .navbar-nav .nav-link { padding: 0.45rem 0.6rem; }
        .navbar-custom .navbar-brand img { height: 40px; }
      }
    </style>
    <a class="navbar-brand" href="/">
      <img src="/images/logo.png" alt="BookMyHotel" />
    </a>
    <button class="navbar-toggler"
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarNavAltMarkup" 
            
            >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link " href="/">Home</a>
        <a class="nav-link" href="/listings">All Listings</a>
        

      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">List Your Property</a>
        <% if(!currentUser){ %>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
        <% } else { %>
          <span class="navbar-text me-2">Hello, <%= currentUser.username %></span>
          <a class="nav-link" href="/logout"><b>Logout</b></a>
        <% } %>
    </div>
  </div>
</nav>