<% layout('layouts/boilerplate') -%>
<body>
    <div class="row">
       <div class="col-md-6 offset-md-1.8"> 
    <h2>Create a new listing</h2>
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
       <div class="mb-3">
         <label for="title" class="form-label">Title:</label><br>
       <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required>
       <div class="invalid-feedback">Please provide a valid title.</div>
       <div class="valid-feedback">Looks good!</div>
       </div>

      <div class="mb-3" >
        <label for="description" class="form-label">Description:</label><br>
         <textarea name="listing[description]" placeholder="" class="form-control" required></textarea>
         <div class="invalid-feedback">Please provide a valid description.</div>
      </div>

        
       
       <div class="mb-3">
         <label for="image" class="form-label">Image URL:</label><br>
         <input name="listing[image]"  id="image" placeholder="Enter Image URL/Link" type="text" class="form-control" > <br>
       </div>
         

       <!-- <div class="mb-3">
         <label for="image" class="form-label">Image:</label><br>
         <input name="listing[image]"  id="image" type="file" class="form-control" > <br>
       </div> -->


         <div class="row" >
       <div class="mb-3 col-md-4">
         <label for="price" class="form-label">Price:</label><br>
         <input name="listing[price]" placeholder="Enter Price" type="number" class="form-control" required>
         <div class="invalid-feedback">Please provide a valid price.</div>
       </div>


       <div class="mb-3 col-md-8">
         <label for="country" class="form-label">Country:</label><br>
         <input name="listing[country]" placeholder="Enter Country" type="text" class="form-control" required>
         <div class="invalid-feedback">Please provide a valid country.</div>
       </div>
         </div>
       <div class="mb-3">
         <label for="location" class="form-label">Location:</label><br>
         <textarea name="listing[location]" placeholder="Enter Location" class="form-control" required></textarea>
         <div class="invalid-feedback">Please provide a valid location.</div>
       </div>

       <button class="btn btn-dark">Submit</button><br><br>
       </form>
    </div>
    </div>
</body>
